body{
    margin:0px;
}

nav, nav a{
    text-transform: uppercase;
    color: white;
    font-size: 16px;
    
}
nav a{
    font-weight: bold;
}

nav{
    padding: 20px 0px;
    position: fixed;
    width: 100%;
    z-index: 1;
}


nav a.hover{
    color: #475CFD;
}


.isiWeb{
    padding-top: 100px;
}

.isiHelp{
    margin: 0px 100px;
    padding: 100px 0px;
    display: grid;
    gap:20px;
}

.inputFormGaris{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
}
.inputFormGarisRGB{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
}


.canvasContainer{
    text-align: center;
}
.inputShape{
    padding: 5px 20px;
}

.buttonContainer{
    margin: 5px 25px;
}
.buttonEditContainer{ 
    margin: 5px 73vw;
}

.editBtn{
    width: 96px;
}

.canvasMode{
    text-align: center;
}

.isiHelp p{
    font-size: 18px;
}

.isiHelp li{
    font-size: 12px;
}

.isiHelp>div>div{
    font-size: 20px;
}